Django
django-ninja
django-ninja-extra
dj-database-url
pydantic-settings
langgraph
langchain
langchain-groq
langchain-cerebras
langchain-voyageai
groq
voyageai
openai
requests
PyJWT
python-dotenv
gunicorn
whitenoise
django-cors-headers
pgvector
psycopg

