Django
django-ninja
django-ninja-extra
dj-database-url
psycopg
psycopg-binary
pgvector
pydantic
pydantic-settings
langgraph
langchain
langchain-community
langchain-core
langchain-experimental
langchain-google-vertexai
langchain-groq
langchain-cerebras
langchain-voyageai
groq
voyageai
openai
requests
PyJWT
python-dotenv
gunicorn
whitenoise
django-cors-headers
Jinja2
sib-api-v3-sdk
datasets
ragas
